<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" href="home.css">
    <script src="app.js" defer></script>
</head>
<body>
    <div class="background-image"></div>
    <div class="content">
        <h1>Welcome to my application</h1>
        <p class="big-text">Click below to explore:</p>
        <nav>
            <ul>
                <li><a id="students-link" href="/students">Click here to see student information</a></li>
                <li><a id="create-student-link" href="/students/create">Click here to create a student</a></li>
                <li><a id="data-viz-link" href="/students/data">Click here to see DataViz</a></li>
            </ul>
        </nav>
        <p class="small-text">If there is any problem, contact me : anesos2000@gmail.com</p>
    </div>
</body>
</html>
