<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Students</title>
    <link rel="stylesheet" href="/students.css">
</head>
<body>
    <main class="container">
        <h1>Students</h1>
        <p class="long-text">
            "Code is like coffee: it can be bitter at first, but once you get used to it, you can't live without it. And sometimes you need a good break to avoid crashing the system, just like you need a coffee break to keep your mind from crashing."
        </p>
        
        <!-- Add table headers -->
        <div class="student-list-header">
            <span class="header-text">Name | School</span>
        </div>
        
        <ul id="student-list">
            <% students.forEach(function(student, index) { %>
                <li>
                    <!-- Add a link to the student details page for each student -->
                    <a href="/students/<%= index %>"><%= student.name %> | <%= student.school %></a>
                </li>
            <% }) %>
        </ul>
        
        <!-- Button container for Home and Create Student buttons -->
        <div class="button-container">
            <button onclick="location.href='/'" class="button">Home</button>
            <button onclick="location.href='/students/create'" class="button create-button">Create Student</button>
        </div>
    </main>
  
    <!-- JavaScript code -->
    <script src="/students.js"></script>
</body>
</html>
