<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
    <h1>Students</h1>
    <p class="long-text">
      "Le code est comme le café : il peut être amer au début, mais une fois que vous en avez pris l'habitude, vous ne pouvez plus vous en passer. Et parfois, vous avez besoin d'une bonne pause pour éviter le plantage du système, tout comme vous avez besoin d'une pause café pour éviter le plantage de votre esprit."
    </p>
    <ul id="student-list">
      <% students.forEach(function(student) { %>
        <li><%= student.name %> | <%= student.school %></li>
      <% }) %>
    </ul>
       <!-- Test button -->
       <button id="test">Click me</button>
  </main>
  
  <!-- JavaScript code -->
  <script src="/students.js"></script>
</body>
</html>
